/* .detail-container {
  max-width: 1200px;
  margin: 0 auto;
} */

.detail-main {
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.detail-title {
  word-wrap: break-word;
  font-weight: bolder;
  width: 500px;
  position: absolute;
  bottom: 0;
  left: -20px;
  padding: 40px;
  line-height: 1.7;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  color: #f6f6f6;
  border-radius: 8px;
}

.detail-explanation-desktop {
  font-weight: 300;
  width: 500px;
  position: absolute;
  bottom: -280px;
  right: -300px;
  padding: 20px;
  line-height: 1.4;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  color: #f6f6f6;
  border-radius: 2px;
  margin-bottom: 20px;
}

.detail-explanation-mobile {
  font-size: 20px;
  text-align: justify;
}

.detail-img {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-copyright {
  position: absolute;
  top: 40px;
  right: -30px;
  padding: 20px;
  line-height: 1.3;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  color: #f6f6f6;
  border-radius: 2px;
}

@media screen and (max-width: 1900px) {
  .detail-title {
    bottom: 0;
    left: 0;
  }

  .detail-main {
    margin: 0 auto;
  }

  .detail-copyright {
    right: 10px;
  }
  .detail-img {
    width: 92%;
  }

  .detail-explanation-desktop {
    display: none;
  }
  .detail-explanation-mobile {
    display: block;
    text-align: justify;
    padding: 15px;
  }
}

@media screen and (max-width: 550px) {
  .detail-title {
    width: 92%;
    font-size: 20px;
    left: 21px;
    bottom: -20px;
    background: none;
  }

  .detail-img {
    margin: 10px;
    width: 92%;
  }

  .detail-copyright {
    right: 0;
    font-size: 10px;
    background: none;
    height: 20px;
  }

  .detail-explanation-desktop {
    display: none;
  }

  .detail-explanation-mobile {
    display: block;
    text-align: justify;
    width: 100%;
    line-height: 1.4;
    padding: 15px;
  }
}
