.gallery {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 0 50px;
}

.gallery li {
    list-style-type: none;
    height: 300px;
    flex-grow: 1;
    position: relative;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.picture-title {
    font-family: "Montserrat Alternates", sans-serif;
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 3px;
    left: 0;
    padding: 15px;
    color: antiquewhite;
    cursor: pointer;
    transition: scale 0.3s ease-in;
    scale: 1;
}


.picture-title:hover, .picture-title:focus {
    text-decoration: underline;
}


.card-hover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

}

.gallery li:hover .card-hover {
    display: inline-block;
}


@media (max-width: 400px) {
    .picture-title {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0 0 5px 5px;
        bottom: 0;
    }

    .card-hover {
        display: inline-block;
        background: none;
    }

    .picture-title:hover, .picture-title:focus {
        text-decoration: underline;
    }
    .gallery li {
        margin: 3px;
    }
    .home-title {
        font-size: 25px;
    }
}
