.detail-view {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
}

.detail-img {
    height: 350px;
    width: 500px;
    object-fit: cover;
}

.detail-text {
    text-align: justify;
    padding: 0 20px;
}

.detail-title {
    font-family: Montserrat, sans-serif;
}

.detail-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.detail-title-div span {
    font-family: Montserrat, sans-serif;
}