.wip-container {
    max-width: 1200px;
    margin: 0 auto;
}

.wip-main {
    max-width: 1000px;
    height: 600px;
    margin-left: auto;
    position: relative;
}

.wip-title {
    word-wrap: break-word;
    font-weight: bolder;
    width: 500px;
    position: absolute;
    bottom: -80px;
    left: -300px;
    padding: 40px;
    line-height: 1.7;
    letter-spacing: 2px;
    background: rgb(180, 18, 18);
    color: #f6f6f6;
    border-radius: 2px;
}
.wip-img {
    margin: 20px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1900px) {
    .wip-title {
        bottom: 0;
        left: 0;
    }

    .wip-main {
        margin: 0 auto;
    }

    .wip-img {
        width: 92%;
    }

}


@media screen and (max-width: 550px) {
    .wip-title {
        font-size: 20px;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .wip-img {
        /*margin: 10px;*/
        width: 100%;
    }

}